<footer>
  <nav class='social-links'>
    <ul class='social-links list-unstyled nav'>
      <li class='github nav-item'>
        <a href="http://github.com/kimberlythegeek/" alt="github" class="nav-link">
          <i class='fab fa-github-square'></i>
        </a>
      </li>
      <li class='twitter nav-item'>
        <a href="https://twitter.com/kimberlythegeek" alt="twitter" class="nav-link">
          <i class='fab fa-twitter-square'></i>
        </a>
      </li>
      <li class='linkedin nav-item'>
        <a href="https://www.linkedin.com/in/kimberlythegeek" alt="linked in" class="nav-link">
          <i class='fab fa-linkedin'></i>
        </a>
      </li>
      <li class='twitch nav-item'>
        <a href="https://www.twitch.tv/kimberlythegeek" alt="twitch" class="nav-link">
          <i class='fab fa-twitch'></i>
        </a>
      </li>
    </ul>
  </nav>
</footer>
