@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

html {
  background-image: url('../images/kimberlythegeek.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
body {
  background-color: rgba(9,49,69,0.95);
  color: white;
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  line-height: 20px;
  font-size: 1.4rem;
}
h1, h2, h3, h4, h5, h6, a, p a, .content article header h2 {
  color: white;
}
a, p a {
  border-bottom: white 2px dashed;
  text-decoration: none;
}
a:hover, p a:hover, p a:focus {
  color: #fde74c;
  text-decoration: none;
  border-color: #fde74c;
}
iframe, img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.about .avatar {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.about i {
  font-size: 3rem;
}

.container.post {
  width: 80%;
}

.cowthink-container {
  display: inline-block;
}

.cowthink-container pre {
  margin: auto;
  padding: 1rem;
  letter-spacing: 0;
  line-height: 2rem;

}

.featured-image-container {
  width: 100%;
}

.featured-image {
  max-width: 400px;
  height: 200px;
  overflow: hidden;
  margin: auto;
}

.list ul li {
  margin-top: 2rem;
}

.small {
  font-weight: 200;
  font-style: italic;
  font-size: 1.2rem;
}

.social-links a {
  border: none;
}
.social-links a i {
  border: 2px dotted white;
  padding: 3px;
}
.social-links a:hover i {
  border-color: #fde74c;
}
.cowthink-container .highlight pre,
.cowthink-container .highlight code {
  background-color: rgba(0,0,0,0)!important;
}
