<section class="container list">
  <h1 class="title">{{ .Title }}</h1>
  <ul>
    {{ range .Paginator.Pages }}
    <li>
      {{ if .Params.image_url }}
        <!-- <div class="featured-image-container">
          <div class="featured-image">
            <img src="{{ .Params.image_url }}" alt="{{ .Title }}"/>
          </div>
        </div> -->
      {{ end }}
      <span>{{ .Date.Format "January 2, 2006" }}</span>
      {{ if eq .Title "fortune | cowthink"}}
        <div class="cowthink-container">
          {{ .Content }}
        </div>
      {{ else }}
      <a href="{{ .URL }}">{{ .Title }}</a>
      <!-- <div class='post-summary'>
        {{ .Summary }} ... <a href="{{ .URL }}">[read more]</a>
      </div> -->
      {{ end }}
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>
